<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lan And Play</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Carrois+Gothic|PT+Serif' rel='stylesheet' type='text/css'>

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>



    <!-- APPLICATION SCRIPTS -->
    <script src="js/app.js"></script>
</head>
<body>
	<nav class="navbar navbar-fixed-top">
		<div class="container">
			<form method = "POST" action="/signup" class="form-inline pull-right">
				<div class="form-group">
					<label for="exampleInputName2">Name</label>
					<input type="email" class="form-control" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail2">Password</label>
					<input type="password" class="form-control" placeholder="Password">
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox"> Remember Me?
					</label>
				</div>
				<button type="submit" class="btn btn-default">Enter</button>
			</form>
		</div>
	</nav>
	<div class="jumbotron">
		<div>
			<div id="bg">
				<br>
				<h1>Lan and Play! Get Your Game on <br> <small> Join the community where you meet new people and have fun gaming</small>
				</h1>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>
	</div>
	<!-- end of jumbotron -->
	<div class="container-fluid backgroundI">
		<div class="row eventsrow">
			<div class="col-md-12">
				<div>
					<h2 class="text-center eventsH1">Current Events</h2>
				</div>
		</div>
		<div class="row">
			 </div>
			 <div class="col-xs-6 col-md-4">
			 	<script id="event-template" type="text/x-handlebars-template">
			 		{{#each event}}
			 			<div> <p><strong>{{title}} by {{event.[0].title}}</p> <br>
			 			<p><strong>{{date}} on {{event.[1].date}}</p> <br>
			 			<p><strong>{{location}} at {{event.[3].location}}</p></div>
			 	</script>
			 </div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<p class="text-muted pull-left"> Lan And Play </p>
		</div>
	</footer>
</body>
</html>