html{
	max-width: 100%;
	min-height: 100%;
}

body{
	background-color: #00CCDC;
}

@font-face {
	font-family: 'Mission-Gothic';
	src: url('../fonts/MissionGothicRegular') format("opentype");
}

@font-face{
	font-family: 'Mission-Gothic';
	font-weight: bold;
	src: url('../fonts/MissionGothicBold') format("opentype");
}

@font-face{
	font-family: 'Mission-Gothic';
	font-weight: thin;
	src: url('../fonts/MissionGothicThin') format("opentype");
}

p{
	font-family: 'PT Serif', serif;

}

.navbar-brand{
	padding: 0 0 0 10px;
}


.jumbotron{
	color: white;
	min-height: 600px;
	background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: 'Mission-Gothic', sans-serif;
    background-color: #0CF3C4;
}

.jumbotron div small{
	color: white;
}

.jumbotron div h1{
	text-align: center;
	color: #00A3F6;
}

.headercolor{
	background-color: white;
}

.navbar{
	background-color: #0CF3C4;
	color: white;
	padding-top: 5px;

}

.backgroundI{
	background-color: white;
}

.eventsrow{
	background-color: #0CF3C4;
}
.eventsH{

	background-color: #0CF3C4;
	color:white;
}


.footer p{
	color: white; 

}
.footer{
    height: 70px;
    background-color: #0CA5F3;
    position: absolute;
	width: 100%;
	bottom: auto;
}